<!doctype html>
<html lang="en">

<head>
  <title>Xen Equity</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/material-dashboard.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/demo/demo.css') }}" />
</head>

<body>
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <div class="logo">
        <a class="simple-text logo-mini">
          Welcome
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="services">
              <i class="material-icons">dashboard</i>
              <p>Equities</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#0">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="transactions">
              <i class="material-icons">content_paste</i>
              <p>Transaction list</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="bank_transfer">
              <i class="material-icons">loop</i>
              <p>Make a transfer</p>
            </a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="portfolio">
            <i class="material-icons">account_balance_wallet</i>
            <p>Portfolio</p>
          </a>
        </li>
        </ul> 
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <h1 class="navbar-brand">Profile Information</h1>
          </div>
          <div class="collapse navbar-collapse justify-content-end">
            <a class = "navbar-icon"href="logout"><i class="material-icons">power_settings_new</i>Logout</a>
          </div>
        </div>
      </nav>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h2 class="card-title">Profile Information</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">FIDOR Account Balance</label>
                          <p>{{uBalance}}</p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Account ID</label>
                          <p>{{uID}}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Account Number</label>
                          <p>{{uAccountNo}}</p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">First Name</label>
                          <p>{{uFirstName}}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                          <p>{{uLastName}}<p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email Address</label>
                          <p>{{uEmail}}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Address</label>
                          <p>{{uAddress}}<p>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
</body>

</html>